.auth-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.workouts-graph{
  background-color: lightgray;
  display: flex;
  border-radius: 35px;
  margin-bottom: 2rem;
}
.workouts-graph h3{
  align-self: center;
  margin-left: 2rem;
  
}
.stat-row {
  display: flex;
  justify-content: space-between;

}
.stat-category{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.auth-container input {
  display: block;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  padding: 0.5rem;
}

.auth-container button {
  background: #2aa9f7;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container h2{
  justify-self: center;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  
}

.auth-container p{
  justify-self: center;
}

.auth-container button{
  display:block;
  margin:0 auto;

}

