.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    background-color: lightgray;
}
.navbar a{
    text-decoration: none;
    color: black;
}

.navbar-center .nav-links{
    list-style: none;
}

.navbar-center .nav-links li {
    margin-right: 1rem;
}
.navbar-center .nav-links li a{
    text-decoration: underline;
    text-underline-offset: .6rem;
    
}

.navbar-left a{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links{
    display:flex;
    justify-content: space-around;
}